*{box-sizing: border-box}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 94vh;
    width: 94vw;
    margin: 3vh 3vw;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}

h1, h2, h3, p, pre, a, div{
    font-family: Bahnschrift, Verdana, Arial, sans-serif;
}

h1{
    font-size: 9vmin;
    color: #fff9e9;
    text-shadow: -1px 0 2px red, 0 1px 2px red, 1px 0 2px red, 0 -1px 2px red, 1px 1px 7px red;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

h2{
    font-size: 6vmin;
    color: white;
    text-shadow: -1px 0 2px lawngreen, 0 1px 2px lawngreen, 1px 0 2px lawngreen, 0 -1px 2px lawngreen, 1px 1px 7px lawngreen;
    text-transform: uppercase;
    text-align: center;
}

hr{
    width: 100%;
    border-bottom: white solid 2px;
}

#titleContainer{
    width: 70vmin;
    height: auto;
    padding: 1% 3% 0.5% 3%;
    margin-bottom: 2vh;
    background-color: #d6fffa;
    border-radius: 50px;
    box-shadow: #B0FFE3 1px 1px 10px;
}

#titleContainer *:nth-child(2), #titleContainer a{
    font-size: 4vmin;
    color: #fff9e9;
    text-shadow: -1px 0 2px #00a419, 0 1px 2px #00a419, 1px 0 2px #00a419, 0 -1px 2px #00a419;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0 0 0 35%;
}

.formNextPage{
    width: 80vmin;
    height: 10%;
}

.buttonNextPage{
    width: 100%;
    height: 100%;
    background-color: #d6fffa;
    border-radius: 50px;
    box-shadow: #B0FFE3 1px 1px 10px;

    font-size: 6vmin;
    text-transform: uppercase;
    color: #fff9e9;
    text-shadow: -1px 0 2px #00A419, 0 1px 2px #00A419, 1px 0 2px #00A419, 0 -1px 2px #00A419, 1px 1px 7px #00A419;
    text-align: center;
    margin: 0;
}


/* INDEX */
#stepsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 58vmin;
    height: 60vh;
}

.steps{
    width: 50%;
    height: 8vh;
    background-color: #FFC8B3;
    box-shadow: #ff9979 0 1px 10px;
    border-radius: 20px;
    text-align: center;
}

/* Green tiles */
.steps:nth-child(1), .steps:nth-child(4), .steps:nth-child(7), .steps:nth-child(10){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    background-color: #85F5AF;
}

/* Blue tiles */
.steps:nth-child(2), .steps:nth-child(6), .steps:nth-child(8){
    background-color: #3AE4FF;
}

/* Left tiles */
.steps:nth-child(2), .steps:nth-child(5), .steps:nth-child(8){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    text-align: right;
}

/* Right tiles */
.steps:nth-child(3), .steps:nth-child(6), .steps:nth-child(9){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    text-align: left;
}

.steps p, .steps pre{
    margin: 0;
    height: inherit;
    overflow: visible;
}

.steps p{
    font-size: 4vh;
    height: 5vh;
}

.steps pre{
    font-size: 25px;
    height: 30px;
}

/* ROOMCODE */
#inputRoomcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vmin;
    height: 70vh;
}

#inputRoomcode input{
    font-family: Bahnschrift, Verdana, Arial, sans-serif;
    font-weight: 700;
}

#inputRoomcode [type="text"]{
    width: 80%;
    padding: 0 10%;
    margin-bottom: 2%;
    font-size: 10vmin;
    border-radius: 20px;
}

#inputRoomcode [type="button"], #inputRoomcode [type="reset"], #inputRoomcode [type="submit"]{
    height: 14vh;
    width: 14vh;
    border-radius: 50%;
    font-size: 5vh;
}

#inputRoomcode div{
    display: flex;
    justify-content: center;
    width: 100%;
}

#inputRoomcodeRow1 input{
    background-color: #3AE4FF;
}
#inputRoomcodeRow2 input{
    background-color: #85F5AF;
}
#inputRoomcodeRow3 input{
    background-color: #ff9979;
}
#inputRoomcodeRow4 input{
    background-color: #ff3f34;
}

#errMsg{
    color: #3AE4FF;
}


/* GAMEMODESETUP */
#gmGallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vmin;
    height: 60vh;
}

#gm1{
    width: 100%;
    height: 40%;
    background-color: #d6fffa;
    border-radius: 30px 30px 0 0;
    text-align: center;
}

#gm1:hover{
    background-color: #cff6f1;
}

#gm2{
    width: 50%;
    height: 60%;
    background-color: #FFC8B3;
    border-bottom-left-radius: 30px;
    text-align: center;
}

#gm2:hover{
    background-color: #f5bea9;
}

#gm3{
    width: 50%;
    height: 60%;
    background-color: #8bffb6;
    border-bottom-right-radius: 30px;
    text-align: center;
}

#gm3:hover{
    background-color: #85F5AF;
}

#gm1 p, #gm2 p, #gm3 p{
    font-size: 4vmin;
}

.selectedGm{
    border: 2px solid darkgray;
}


/* GAMESETUP */
#playerSetup, #difficultySetup, #timerSetup{
    border-radius: 30px;
    background-color: #d6fffa;
    padding: 10px;
    width: 40vw;
    height: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerSetup h2{
    margin: 0;
}

#timerSetup input{
    height: 5vh;
    width: 10vw;
}

#timerSetup h2{
    margin: 0;
}


/* GAMEPROGRESS */
#pop-up{
    position: absolute;
    top: 35vh;
    left: 20vw;

    height: 28vh;
    width: 60vw;
    padding: 20px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5vw;
    background-color: #B0FFE3;
    box-shadow: 1px 1px 20px black;
}

#pop-up p{
    font-size: larger;
}

#pop-up input{
    height: 8vh;
    width: 15vw;

    border-radius: 5px;

    font-size: larger;
}

#pop-up #endGame{
    background-color: red;
}

#pop-up #continueGame{
    background-color: greenyellow;
}